# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.backup
pom.xml.libBackup
release.properties

# IDEs
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
